
<div class="container mb-5 pb-3">
    <h1 class="text-center mt-3">Department Management</h1>
    <div class="d-flex justify-content-end mt-3">
        <a class="btn btn-primary" [routerLink]="['/admin/departments/add']"><i class="bi bi-plus"></i> Add New Department</a>
    </div>

    <ng-container *ngIf="departments$ | async as departments">
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>DepartmentID</th>
                    <th>Department Name</th>
                    <th>Last Changed</th>
                    <th>Edit/Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let department of departments">
                    <td>{{department.dptID}}</td>
                    <td>{{department.departmentName}}</td>
                    <td>{{department.lastUpdated | date:'dd/MM/yyyy'}}</td>
                    <td>
                        <a class="btn btn-outline-secondary" [routerLink]="['/admin/departments',department.dptID]">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </ng-container>
</div>